*{
    margin: 0;
    padding: 0;
}

body {
    opacity: 0;
    animation: fadeIn ease 2s forwards;
}
/********** HEADER *****************/
header{
    opacity: 0;
    animation: fadeUp ease 2s forwards;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background: white;
}

.header-img{
    width: auto;
    height: 100%;
}

/************* NAV *****************/
nav {
    opacity: 0;
    animation: fadeDown ease 2s forwards;
    position: relative;
    z-index: 1000;
}

nav > ul {
    list-style: none;
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    margin: 0;
    background: linear-gradient(to right, #93bb20, #219e38,  #01843e,#219e38,#93bb20);
    background-size: 200% 200%; 
    animation: waveEffect 5s ease-in-out infinite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav > ul li {
    font-size: large;
    display: flex;
    padding: 0.5rem 1rem;
    position: relative;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
    justify-content: space-between;
}

nav > ul li a{
    text-decoration: none;
    color: white;
}

nav > ul li:hover {
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    background: #a81733;
}

.nav-arrow{
    height: 10px;
    width: 10px;
    rotate: 90deg;
}

nav > ul li ul {
    list-style: none;
    position: absolute;
    top: 100%; 
    left: 0;
    display: none;
    width: 150%;
    background: linear-gradient(to right, #93bb20, #54ad2d, #219e38, #12923b, #01843e);
    background-size: 200% 200%; 
    animation: waveEffect 5s ease-in-out infinite;
    padding: 0.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav > ul li ul li {
    padding: 0.5rem 1rem;
    color: white;
}

nav > ul li ul li:hover {
    border-left: 8px solid #a81733;
    background: #a1bc31;
}

nav > ul li:hover ul {
    display: block;
}

.selected-page{
    color: white;
    background: #a1bc31;
    pointer-events: none;
}

/************** CONTENT CONTAINER *******************/
.content-container{
    width: 100%;
    min-height: 60vh;
}

/************** SOCIAL MEDIA *******************/
.social-buttons {
    z-index: 900;
    opacity: 0;
    animation: fadeRight ease 2s forwards;
    position: fixed;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.social-buttons a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px 15px;
    text-decoration: none;
    color: transparent;
    background: linear-gradient(to right,#c51348, #940b3c, #c51348);
    background-size: 200% 200%; 
    animation: waveEffect 5s ease-in-out infinite;
    border-radius: 5px 0 0 5px;
    transition: background-color 0.3s;
    transform: translateX(10vh)
}

.social-buttons a img{
    height: 30px;
    width: 30px;
    padding: 5px;
}

.social-buttons a:hover {
    transition: background-color 0.3s, transform 0.5s;
    color: white;
    transform: translateX(0vh);
}

/****************** FOOTER ********************************/
footer{
    opacity: 0;
    width: 100%;
    height: 46vh;
    background: linear-gradient(to right, #93bb20, #219e38,  #01843e,#219e38,#93bb20);
    background-size: 200% 200%; 
    animation: waveEffect 5s ease-in-out infinite, fadeDown ease 2s forwards;
}

#footer-data > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: solid red;*/
    align-items: center;
}

#data-1{
    height: 30vh;
}

#data-2{
    height: 2vh;
    background: white;
}

#data-1 > div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    /*border: solid blue;*/
    font-size: large;
    color: white;
    gap: 10px 0;
}

#data-1 > div ul li{
    padding: 5px 10px;
}

#data-1 > div p a, #data-1 > div ul li a{
    text-decoration: none;
    color: white;
}

#data-1 > div ul li:hover{
    transition: color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
    background: #a81733;
}

#data-1 > div p a:hover{
    transition: color 0.3s ease, transform 0.3s ease;
    color: #a81733;
    cursor: pointer;
}

#footer-img1{
    height: 20vh;
    width: auto;
}

#footer-rights{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
}

#footer-rights > p{
    color: white;
    font-size: large;
}


/***-*****  EFECTOS    ****/
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(-100%)}
    to { opacity: 1; transform: translateY(0)}
}

@keyframes fadeDown {
    from { opacity: 0; transform: translateY(100%)}
    to { opacity: 1; transform: translateY(0)}
}

@keyframes fadeRight {
    from { opacity: 0; transform: translateX(100%)}
    to { opacity: 1; transform: translateX(0)}
}

@keyframes waveEffect {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}