*{
    margin: 0;
    padding: 0;
}
/********** HEADER *****************/
header{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.header-img{
    width: auto;
    height: 100%;
}

/************* NAV *****************/
nav {
    position: relative;
    z-index: 1000;
}

nav > ul {
    list-style: none;
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    margin: 0;
    background: linear-gradient(to right, #93bb20, #219e38,  #01843e,#219e38,#93bb20);
    background-size: 200% 200%; 
    animation: waveEffect 5s ease-in-out infinite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav > ul li {
    font-size: large;
    display: flex;
    padding: 0.5rem 1rem;
    position: relative;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
    justify-content: space-between;
}

nav > ul li a{
    text-decoration: none;
    color: white;
}

nav > ul li:hover {
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    background: #a81733;
}

.nav-arrow{
    height: 20px;
    width: 20px;
    rotate: 90deg;
}

nav > ul li ul {
    list-style: none;
    position: absolute;
    top: 100%; 
    left: 0;
    display: none;
    width: 150%;
    background: linear-gradient(to right, #93bb20, #54ad2d, #219e38, #12923b, #01843e);
    background-size: 200% 200%; 
    animation: waveEffect 5s ease-in-out infinite;
    padding: 0.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav > ul li ul li {
    padding: 0.5rem 1rem;
    color: white;
}

nav > ul li ul li:hover {
    border-left: 8px solid #a81733;
    background: #a1bc31;
}

nav > ul li:hover ul {
    display: block;
}

@keyframes waveEffect {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.selected-page{
    color: white;
    background: #a1bc31;
    pointer-events: none;
}

/************** CONTENT CONTAINER *******************/


/****************** FOOTER ********************************/